.dateInputWrapper {
    position: relative;
    width: 100%;
}

.customInput {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 18px;
    width: 400px;
    height: 56px;
    background-color: var(--inputs);
    border: none;
    box-sizing: border-box;
}

.input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--light-grey);
}

.input::placeholder {
    font-family: var(--font-family);
    color: var(--placeholder);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
}

.icon {
    width: 20px;
    margin-left: -40px;
    cursor: pointer;
    fill: none;
    stroke: var(--dark-grey);
}

.error {
    color: var(--red);
}

.datePicker {
    width: 100%;
}

.datePickerWrapper {
    width: 100%;
}
