.advertContainer {
    display: flex;
    gap: 24px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
    width: 888px;
}

.image {
    border-radius: 10px;
    width: 290px;
    height: 310px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    width: 526px;
    height: 310px;
}

.namePriceFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
}

.priceFavoriteFlex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
}

.heartFavorite {
    stroke: var(--dark-grey);
    fill: none;
    &:active {
        fill: var(--red);
        stroke: var(--red);
    }
}

.heartFavorite.favorite .icon {
    fill: var(--red);
    stroke: var(--red);
    &:active {
        fill: transparent;
        stroke: var(--dark-grey);
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.textContainer {
    width: 100%;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
