.reviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titleTextFlex {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.reviewsTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

.reviewsText {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--light-grey);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.input {
    border-radius: 10px;
    padding: 18px;
    width: 400px;
    height: 56px;
    border: none;
    background-color: var(--inputs);
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--red);
}

.textarea {
    border-radius: 10px;
    padding: 18px;
    width: 400px;
    height: 114px;
    border: none;
}

.textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--red);
}
