.textarea {
    border-radius: 10px;
    padding: 18px;
    width: 400px;
    height: 114px;
    border: none;
    background-color: var(--inputs);
}

.textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--light-grey);
}
